@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#modo-banner-primary {
  background: url("../img/banner1.jpg") no-repeat center;
  background-size: cover;
}

#modo-banner-secondary {
  background: url("../img/banner2.jpg") no-repeat center;
  background-size: cover;
}

.modo-banner-image {
  width: 18rem;
}

.modo-banner-title {
  font-size: 1.1rem;
  font-weight: 800;
  width: 17rem;
  color: #0b3954;
}

.modo-banner-title-primary {
  font-size: 1rem;
  color: #F7bc15;
  line-height: 1.2 !important;
}

.modo-banner-button {
  color: #0081C5;
  font-weight: 500;
  width: 17rem;
}

#btn-banner-primary {
  background-color: #0081C5;

}

#btn-banner-secondary {
  background-color: #F7bc15;
  color: #0d0d25;
}

.modo-banner-text {
  font-size: 1rem;
  width: 17rem;
  font-weight: 300;
}

.modo-banner-text-primary {
  font-size: .9rem;
}



@media (min-width: 768px) {
  .modo-banner-image {
    width: 15rem;
    height: 12rem;
  }

  .modo-banner-title {
    min-width: 17rem;
    line-height: 1.5rem;
  }

  .modo-banner-title-primary {
    min-width: 20rem;
    font-size: 1.1rem;
  }

  .modo-banner-text {
    max-width: 17rem;
  }

  .modo-banner-text-primary {
    font-size: 1.1rem;
    max-width: 19rem;
    width: 19rem;
  }

  .modo-banner-button {

    width: 10rem;
  }
}

@media (min-width: 992px) {
  .modo-banner-image {
    width: 25rem;
    height: auto;

  }

  .modo-banner-title {
    min-width: 26rem;
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .modo-banner-title-primary {
    min-width: 29rem;
  }

  .modo-banner-text {
    max-width: 27rem;
    width: 27rem;
    font-size: 1.3rem;
  }

  .modo-banner-text-primary {
    max-width: 29rem;
    width: 29rem;
  }

}